{% extends 'base.html' %}

{% block title %} Modificar {% endblock %}

{% block mi_precioso_bloque_de_formato %}

    <h2 class="mid-title">Modifica Registro</h2>
    <div class="div-form">
    <form action="/modifica/{{ id }}" method="POST" novalidate>
        {{ form.csrf_token }}
        {{ form.fecha.label(class="form-label") }}
        {{ form.fecha(type='date', class="form-input") }}
        {% for error in form.fecha.errors %}
            <p class="p-error">{{ error }}</p>
        {% endfor %}
        {{ form.concepto.label(class="form-label") }}
        {{ form.concepto(class="form-input") }}
        {% for error in form.concepto.errors %}
            <p class="p-error">{{ error }}</p>
        {% endfor %}
        {{ form.cantidad.label(class="form-label") }}
        {{ form.cantidad(class="form-input") }}
        {% for error in form.cantidad.errors %}
            <p class="p-error">{{ error }}</p>
        {% endfor %} 
        {{ form.submit }}
        <a href="{{ url_for('listaIngresos') }}" role="button">Volver</a>
    </form>
    </div>

{%  endblock %}
